.top-page
  .top-page__login__btn
    = link_to "ログイン", new_user_session_path, class: "top-page__login__btn"
  .top-page__new__btn
    = link_to "新規登録", new_user_registration_path, class: "top-page__new__btn"
  .top-page__look
    =link_to "相談を覗いてみる" ,'/top_page/' ,class: "top-page__look__link"