.top
  %ul.top__side
    ジャンル
    %li.top__side__love
      恋愛
    %li.top__side__work
      仕事
    %li.top__side__money
      お金
    %li.top__side__friend
      友人
    %li.top__side__school
      学校
    %li.top__side__other
      その他
  .top__consultation
    .top__consultation__title
      お悩み一覧
    - @toppages.each do |top_page|
      .top__consultation__text
        = top_page.contents
        .top__consultation__text__main
          .top__consultation__text__main__name
            = top_page.user_id
          .top__consultation__text__main__time
            = top_page.created_at