.top
  %ul.top__side
    ジャンル
    %li.top__side__love
      恋愛
    %li.top__side__work
      仕事
    %li.top__side__money
      お金
    %li.top__side__friend
      友人
    %li.top__side__school
      学校
    %li.top__side__other
      その他
  .top__consultation
    .top__consultation__title
      お悩み一覧
    .top__consultation__text
      タイトル
      .top__consultation__text__time
        20-06-19 10:38
    .top__consultation__text
      タイトル
      .top__consultation__text__time
        20-06-19 10:38
    .top__consultation__text
      タイトル
      .top__consultation__text__time
        20-06-19 10:38