.main
  .main__consultation
    .main__consultation__title
      お悩み一覧
    .main__consultation__text
      = @toppage.contents
  .main__comment
    コメントフォーム
    .main__comment__sent
      投稿する
      .main__comment__text
        <コメント一覧>
      .main__comment__main
        .main__comment__main__name
        .main__comment__main__form