.user
  .user__main
    マイページ
  .user__name
    ハンドルネーム
    .user__name__text
      森
  .user__birthday-text
    生年月日・性別
  .user__birthday-form
    .user__birthday-form__year
      .user__birthday-form__year__form
        1994
      .user__birthday-form__year__text
        年
    .user__birthday-form__month
      .user__birthday-form__month__form
        7
      .user__birthday-form__month__text
        月
    .user__birthday-form__day
      .user__birthday-form__day__form
        20
      .user__birthday-form__day__text
        日
