.top
  %ul.top__side
    ジャンル
    %li.top__side__love
      恋愛
    %li.top__side__work
      仕事
    %li.top__side__money
      お金
    %li.top__side__friend
      友人
    %li.top__side__school
      学校
    %li.top__side__other
      その他
  .top__consultation
    .top__consultation__title
      お悩み一覧
    - @responses.each do |responses|
      .top__consultation__text
        = link_to responses.contents, "/top_page/#{responses.id}", method: :get
        .top__consultation__text__main
          .top__consultation__text__main__name
            = responses.user.name
          .top__consultation__text__main__time
            = responses.created_at