.main{
  width: 800px;
  height:1000px;
  margin: 0 auto;
  &__consultation{
    margin: 0 auto;
    &__title{
      font-size:30px;
      text-align: center;
    }
    &__text{
      height: 50px;
      font-size:15px;
      color:black;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
      margin-bottom:10px;
      box-shadow: 0 0 0 2px #f4cdd8;
      &__time{
        color:gray;
        text-align: right;
        padding: 10px 10px 0px 0px;
        font-size:10px;
      }
    }
  }
  &__comment{
    &__form{
    height: 50px;
    font-size:15px;
    color:black;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin:50px 0px 0px 0px;
    box-shadow: 0 0 0 2px #f4cdd8;
    }
    &__sent{
      width: 70px;
      margin:0 auto;
      background-color:#e58fa8;
      color:white;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
      margin-top:10px;
      box-shadow: 0 0 0 2px #f4cdd8; 
    }
    &__main{
      background-color: white;
      display: flex;
      margin-top:20px;
      &__name{
        color:pink
      }
      &__form{
        margin-left: 30px;
      }
    }

  }
}